h1 {
  margin-bottom: 30px; }

.react-date-picker {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.react-date-picker__wrapper {
  border: none; }

.jumbotron {
  width: 100%; }

.loading {
  text-align: center; }

.loader div:first-child {
  margin: 0 auto 20px auto; }

.loader div * {
  border-color: #4069ff; }

.search {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem; }

.table {
  background: white; }
